[settings]
default_section=THIRDPARTY
include_trailing_comma=1
indent='    '
known_django=django
known_first_party=django_super_deduper,tests
line_length=120
multi_line_output=3
sections=FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
